.navbar{
    		border-radius: 0px;
    		border:none;
    		background: transparent;
    		height: 60px;
    		
    	}
    	.navbar-inverse .navbar-nav{
    		margin-top: 1%;
    	}
		.navbar-inverse .navbar-nav > li > a {
			color: black;
			font-size: 15px;
		}
		.navbar-inverse .navbar-nav > li > a:hover,
		.navbar-inverse .navbar-nav > li > a:focus {
		  color: #fff;
		  background-color: rgba(0, 143, 213, 1);
		}
		.navbar-inverse .navbar-nav > .active > a,
		.navbar-inverse .navbar-nav > .active > a:hover,
		.navbar-inverse .navbar-nav > .active > a:focus {
		  color: #fff;
		  background-color: #080808;
		}
		.navbar-inverse .navbar-nav > .open > a, 
		.navbar-inverse .navbar-nav > .open > a:hover, 
		.navbar-inverse .navbar-nav > .open > a:focus {
			color: #fff;
		  background-color: rgba(0, 143, 213, 1);
		}
		.dropdown-menu{
			margin: 0 0;
			background-color: rgba(0, 143, 213, 1);
		}
		.dropdown-menu > li > a{
			margin-top: 5%;
			font-size: 15px;
			color: #fff;
		}
		.dropdown-menu > li > a:hover{
			color: #fff;
			background-color: rgba(255, 255, 255, 0.5);
		}
		.bg{
			padding: 2% 2%;
			background-color: rgba(0, 143, 213, 1);
		}
		.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: rgb(28, 45, 54);
		   color: white;
		   text-align: justify;
		   padding: 1% 1%;
		}
		.footer p{
			color: rgb(255, 255, 255);
			font-size: 15px;
			text-decoration: none;
		}
		.img-fluid{
			max-width: 5%;
			height: auto;

		}
		.img-fluidss{
			max-width: 15%;
			height: auto;
		}
		.box{
			background-color: transparent;
			width: 40%;
			border: 1px solid rgb(204, 204, 204);
			border-radius: 2%;
			padding-top: 1%;
		}
		.btn-daftar, .btn-daftar:visited{
			background-color: rgba(250, 235, 31, 1);
			color: #fff;
		}
		.btn-daftar:hover{
			background-color: rgba(250, 235, 31, 0.8);
			color: #fff;
		}
		.clear{
			margin: 10% 10%;
		}
		.input-group{
			margin-bottom: 4%;
			width: 60%;
		}
		.btn-outline-primary{
			border: 1px solid rgba(0, 143, 213, 1);
			background-color: #fff;
			color: rgba(0, 143, 213, 1);
			font-size: 20px;
		}

		.btn-outline-primary:hover{
			border: 1px solid rgba(255, 255, 255, 1);
			background-color: rgba(0, 143, 213, 1);
			color: rgba(255, 255, 255, 1);
			font-size: 20px;
		}
		.btnimage{
			width: 10%;
		}
		.box:hover{
			border-color: rgba(0, 143, 213, 1);
		}