.navbar{
    		border-radius: 0px;
    		border:none;
    		background: transparent;
    		height: 60px;
    		
    	}
    	.navbar-inverse .navbar-nav{
    		margin-top: 1%;
    	}
		.navbar-inverse .navbar-nav > li > a {
			color: black;
			font-size: 15px;
		}
		.navbar-inverse .navbar-nav > li > a:hover,
		.navbar-inverse .navbar-nav > li > a:focus {
		  color: #fff;
		  background-color: rgba(0, 143, 213, 1);
		}
		.navbar-inverse .navbar-nav > .active > a,
		.navbar-inverse .navbar-nav > .active > a:hover,
		.navbar-inverse .navbar-nav > .active > a:focus {
		  color: #fff;
		  background-color: #080808;
		}
		.navbar-inverse .navbar-nav > .open > a, 
		.navbar-inverse .navbar-nav > .open > a:hover, 
		.navbar-inverse .navbar-nav > .open > a:focus {
			color: #fff;
		  background-color: rgba(0, 143, 213, 1);
		}
		.dropdown-menu{
			margin: 0 0;
			background-color: rgba(0, 143, 213, 1);
		}
		.dropdown-menu > li > a{
			margin-top: 5%;
			font-size: 15px;
			color: #fff;
		}
		.dropdown-menu > li > a:hover{
			color: #fff;
			background-color: rgba(255, 255, 255, 0.5);
		}
		.bg{
			padding: 1% 1%;
			background-color: rgba(0, 143, 213, 1);
		}
		.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: rgb(28, 45, 54);
		   color: white;
		   text-align: justify;
		   padding: 1% 1%;
		}
		.footer p{
			color: rgb(255, 255, 255);
			font-size: 15px;
			text-decoration: none;
		}
		.img-fluid{
			max-width: 3%;
			height: auto;

		}
		.img-fluids{
			max-width: 5%;
			height: auto;
		}
		.img-fluidss{
			max-width: 100%;
			height: auto;
			border-radius: 2%;
		}
		.clear{
			margin: 5% 5%;
		}
		.video-fluids{
			width: 50%;
			height: auto;
		}
		.gambar:hover{
			background-color: rgb(0, 143, 213);
		}
		.btn-tambah{
			background-color: rgba(0, 143, 213, 1);
			color: rgba(255,255,255,1);
			padding: 5% 10%;
		}
		.btn-tambah:hover{
			background-color: rgba(0, 143, 213, 0.8);
			color: rgba(255, 255, 255, 0.8);
		}
		.btn-edit{
			background-color: rgba(250, 235, 31, 1);
			padding: 5% 10%;
			color: rgba(255, 255, 255, 1);
		}
		.btn-edit:hover{
			background-color: rgba(250, 235, 31, 0.8);
			color: rgba(255, 255, 255, 0.8);
		}
		.btn-hapus{
			background-color: rgba(255, 0, 0, 1);
			padding: 5% 10%;
			color: rgba(255, 255, 255, 1);
		}
		.btn-hapus:hover{
			background-color: rgba(255, 0, 0, 0.8);
			color: rgba(255, 255, 255, 0.8);
		}
		th{
			text-align: center;
			font-size: 12px;
			background-color: rgba(0, 143, 213, 1);
			color: rgba(255, 255, 255, 1);
		}
		th:hover{
			background-color: rgba(0, 143, 213, 0.7);
			color: rgba(255, 255, 255, 0.7);
		}
		td{
			text-align: right;
			font-size: 12px;
		}
		.first{
			text-align: right;
		}
		.last{
			text-align: left;
		}
		.glyphicon{
			font-size: 10px;
		}
		.sorting{
			margin: 0;
		}
		.links{
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
		}
		.links:hover{
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
		}
		.links:visited{
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
		}
		.judul_klinik{
			color: white; 
			text-transform: uppercase;
			margin-bottom: 0;
			display: inline;
		}
		